footer {
  padding-block: 170px 114px;
  background-image: url(../assets/book-trace-background.png);
  background-repeat: no-repeat;
  background-size: cover;

  & .content {
    display: flex;
    max-width: 70rem;
    margin-inline: auto;
    justify-content: space-between;
  }

  & .separador {
    width: 100%;
    height: 1px;
    background-color: var(--shape-stroke);
  }

  & a img{
    width: 1.5rem;
    height: 1.5rem;
  }

  & .redes {
    margin-top: .75rem;
    display: flex;
    justify-content: space-around;
  }

  & .right {
    display: flex;
    gap: 3.5rem;

    & h5 {
      margin-bottom: 1.25rem;
    }

    & ul {
      display: flex;
      flex-direction: column;
      gap: .75rem;
      list-style: none;
      font: var(--link);
      color: var(--blue-light);
    }
  }


}
