* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /* pink */
  --pink-light: #C59DD2;
  --pink-base: #9547A5;
  --pink-dark: #7D298A;
  --pink-low: #3F0F41;

  /* Blue */
  --blue-light: #73B6D2;
  --blue-base: #358BB9;
  --blue-mid: #2374A4;
  --blue-dark: #144A72;
  --blue-low: #08233C;

  /* shape */
  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000F1F;
  --shape-background: #00050A;

  /* text */
  --text-title: #F8FBFB;
  --text-body: #E2E7E9;
  --text-label: #BAC6C9;


  /* Tipografia */
  --ff-base: "Raleway", sans-serif;

  --title-lg: 700 3rem var(--ff-base);
  --title-md: 700 2.5rem var(--ff-base);
  --title-sm: 700 2rem var(--ff-base);
  --title-xs: 700 1rem var(--ff-base);
  --Subtitle: 400 2rem/200% var(--ff-base);
  --body-lg: 400 1.25rem/140% var(--ff-base);
  --body-md: 400 1rem/140% var(--ff-base);
  --body-sm: 400 .875rem/140% var(--ff-base);
  --body-xs: 400 .75rem/140% var(--ff-base);
  --button: 600 .875rem var(--ff-base);
  --link: 500 .875rem var(--ff-base);
  --tag: 700 .625rem var(--ff-base);
}

html {
  background-color: var(--shape-background);

}


h1 {
  font: var(--title-lg);
  color: var(--text-title);
}

h2 {
  font: var(--title-sm);
  color: var(--text-title);
}

h3 {
  font: var(--title-xs);
}

h5 {
  font: var(--title-xs);
  color: var(--text-body);
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

.btn {
  position: relative;
  padding-inline: 1.25rem;
  padding-block: .75rem;
  border-radius: 0.5rem;
  font: var(--button);
  text-align: center;
  overflow: hidden;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    top: 0;
    left: 25%;
    border-radius: 100%;

    scale: 0;
    transition: scale 500ms ease;
  }

  &:hover::before {
    scale: 2.3;
  }
}

.btn-primary {
  background-color: var(--pink-dark);
  color: var(--text-title);

  &::before {
    background-color: var(--pink-base);
  }

}

.btn-secondary {
  background-color: var(--blue-dark);
  color: var(--text-title);

  &::before {
    background-color: var(--blue-mid);
  }
}