header {
  position: relative;
  display: flex;
  max-width: 70rem;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5rem;


}




.hero {
  &::before {
    width: 100%;
    height: 100%;
    content: "";
    /* position: absolute; */
    top: 0;
    right: 0;
    background-image: url(/assets/blur-hero.png) no-repeat;
    z-index: -2;
    background-size: cover;
    background-position: bottom;

  }

  position: absolute;
  top: 0;
  width: 100%;
  background-image: url(/assets/hero-background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  z-index: -1;

  & .text-hero {
    max-width: 656px;
    margin-inline: auto;
    margin-block: 278px 470px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  & p {
    font: var(--body-lg);
    color: var(--text-body);
  }

  & .info {
    max-width: 70rem;
    margin-inline: auto;
    padding-block: 6rem 5px;

    & p {
      font: var(--Subtitle);
      color: var(--text-body);
      text-align: center;

    }

    & span {
      color: var(--blue-light);
      font-weight: 600;
    }

    & img:nth-child(1) {
      width: 88px;
      height: 88px;
    }

    & img:nth-child(2) {
      width: 80px;
      height: 80px;
    }

    & img:nth-child(4) {
      width: 72px;
      height: 72px;
    }

    & .imgs {
      display: flex;
      justify-content: space-between;

    }

  }
}

.hero-space {
  height: 150vh;
}