.kit-mensal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 235px;

  & .kit-header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  & .title {
    display: flex;
    align-items: center;

  }

  & p {
    font: var(--body-md);
    color: var(--text-body);
  }
}